:root {
    --color-primario: #2181BD; /*Para encabezados principales (Nav, header o h1 y h2) */
    --color-secundario: #6DADD8; /* Para cosas secundarias (aside, footer) */
    --color-acento: #80CBF3; /* Para botones que hagan algo, iconos si hay o cosas que necesiten llamar la atencion */
    --color-fondo: #F4F7F9; /* Para el cuerpo principal (Body, main) */
    --color-texto: #1C2B3E; /* Texto principal (P) */
}

/* Font para títulos */
h1, h2, h3 {
  font-family: "Bebas Neue", sans-serif;
}

/* Font para el texto principal, tamaño base y line-height */
body {
    font-size: 1rem; /* Equivalente a 16px */
    line-height: 1.6; /* Mejora la legibilidad (entre 1.5 y 1.8) */
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: "Roboto Mono", monospace;
}

/* Estilos diferenciados para los headings (tamaño y color) */
h1 {
  font-size: 2.5rem;
  color: #1C2B3E; /* Color de texto */
}

h2 {
  font-size: 2rem;
  color: #2181BD; /* Color primario */
}

h3 {
  font-size: 1.5rem;
  color: #3C678E; /* Color secundario */
}